<h1>Maino Blog</h1>

<% if Current.user %>
  Logged in as <%= Current.user.email %>
  <%= button_to "Logout", logout_path, method: :delete %>
  <%= link_to "Edit Profile", edit_profile_path %>
<% else %>
  <%= link_to "Login", login_path %>
  <%= link_to "Sign in", sign_in_path %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h2><%= post.title %></h2>
      <p><%= post.body %></p>
    </li>
  <% end %>
</ul>
