<ul class="list-group mb-3">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <div class="d-flex">
        <h2><%= link_to post.title, post, class: "link-underline link-underline-opacity-0" %></h2>
        <p class="d-flex align-items-end m-2">(<%= post.comments.count %> comments)</p>
      </div>
      <p><%= post.body %></p>
      <% if Current.user == post.user %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), data: {turbo_method: :delete, turbo_confirm: "are you sure?"} %>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="d-flex justify-content-center align-items-center">
<%= paginate @posts %>
</div>
