<h1>Create new Post!</h1>


<%= form_with model: @post do |form| %>
  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :tag %>
    <%= form.text_field :tags, value: @post.tags.map(&:name).join(","), class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit "post it!", class: "btn btn-primary" %>
  </div>
<% end %>
